img{
    width: 220px;
    height: 340px;
    padding: 20px;
    
}

/* article div img{

} */

div:kepek{
    position: relative;
}

@media screen and (max-width: 800px){ /* 800 px alatt milyen legyen a kinézet.*/
	main{
    grid-template-columns: 4fr;
    grid-template-areas:
    "h h"
    "n n"
    "as as"
    "ar ar"
    "f f";
    }
    .kepek{
        display:flex;
        grid-template-columns: 4fr;
    }
}