html {
    width: auto;
}


body {
    background-color: rgb(157, 155, 158);
    width: auto;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(230, 223, 223);
    margin-left: 225px;

}

p {
    color: rgb(9, 9, 9);
    margin: 10px;
    font-size: 15px;
    text-align: center;

}


main {

    max-width:800px;
    margin: 0 auto;
    background-color: rgb(206, 201, 201);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "h h h "
        "n n n"
        "ar ar as"
        "ar ar as"
        "f f f"

    ;

}

header {
    grid-area: h;
    display: block;
    background-color: rgb(69, 32, 32);
   
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 150px ;
    background-position: left;
    height: unset;
    width: auto;
}

nav {
    grid-area: n;
    display: block;
    background-color: rgb(128, 128, 128);
}

.gomb {
    font-size: 25px;
    padding: 10px 20px;
    border: black;
    border-radius: 10px;
    margin: 5px 5px;
    margin-bottom: 5px;
    width: 98%;
    cursor: pointer;


}


article {
    grid-area: ar;
    display: block;
    background-color: rgb(182, 174, 174);
    width: auto;
    height: unset;

}

aside {
    grid-area: as;
    display: block;
    background-color: rgb(173, 151, 151);
    width: auto;
    height: unset;
    font-size: 18px;
}

aside p {
    font-size: 18px;
}

footer {
    grid-area: f;
    display: block;
    background-color: gray;
    width: auto;
    height: unset;
    font-size: 18px;
}

nav li,
li {
    list-style-type: none;

}

nav ul {
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}


nav a {
    text-decoration: none;
    background-color: rgb(6, 46, 33);
    text-align: center;
    display: block;
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    min-height: 40px;

}

nav a:hover {
    background-color: rgb(233, 234, 231);
    color: black;


}

@media screen and (max-width: 800px) {
    main {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "h h h h"
            "n n n n"
            "ar ar ar as"
            "f f f f";
    }

  
    h1 {
 
        margin-left: 170px;
        font-size: 14px;
    }
 

 
}

@media screen and (max-width: 400px) {
    main {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "h h"
            "n n"
            "as as"
            "ar ar"
            "f f";
    }

    
    h1 {
 
        margin-left: 100px;
        font-size: 11px;
    }

   
    nav ul {
        padding-left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }
    header {
        background-size: 90px ;
        
    }
    

}